[
  {rabbit, [
    {cluster_nodes,
        {[
{{range $idx, $cnt := gets "/self/service/containers/*"}}{{ if (ne $idx 0) }},{{end}} 'rabbit@{{.Value}}'{{end}}
         ], disc}     },
    {loopback_users, []},
    {rabbitmq_management, [
      {{if (getenv "RABBITMQ_CLUSTER_HIGH_AVAILABILITY")}}
      {load_definitions, "/etc/rabbitmq/rabbitmq_definitions.json"}
      {{end}}
    ]}
  ]
}].

